.hero_section{
    background-image: url('../HeroSection/header.jpg');
    background-size: cover;
    background-position: right;
    padding: 90px 0px;
  }
  .hero_section h1{
    font-family: 'Acme', sans-serif;
  
  }
  .primary_btn{
    background-color: #6c63fe !important;
    border: #6c63fe !important;
  }