.card_border2{
    border-radius: 30px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .faicon2{
    padding: 20px;
    font-size: 30px;
    border-radius: 50px;
  }


  @media screen and (max-width:767px) {
    .card_border2{
      margin: 10px 0px !important;
    }
  }