@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
  font-family: 'Dosis', sans-serif;
}
.demo_btn{
  background-color: orange !important;
  color: white !important;
  border: orange !important;
}
.gray_clr{
  color: #777c80 !important;
}
.hero_section{
  background-image: url('../src/img/header.jpg');
  background-size: cover;
  background-position: right;
  padding: 90px 0px;
}
.hero_section h1{
  font-family: 'Acme', sans-serif;

}
.hero_section button{
  background-color: #6c63fe !important;
  border: #6c63fe !important;
  padding: 10px 30px !important;
}
.nav_bar li{
  padding: 0px 15px ;
}
.nav_bar li a{
  font-size: 17px;
  font-weight: 500;
}
.courses_sec{
  padding: 20px 0px;
  height: 160px;
}
.courses_sec img{
  filter: grayscale();
  transition: all .5s;
  transform: translate(-50%, 0%);
  cursor: pointer;
}
.courses_sec img:hover{
  filter: none;
  width: 65px !important;

}
.courses_sec p{
  font-size: 25px;
  display: inline-block;
  margin-top: 15px;
}